.button {
  display: block;

  border-radius: 5px;
  background-color: $main-color;
  // background-color: green;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    letter-spacing: 0.06rem;
    box-shadow: 7px 5px 8px -4px rgb(255, 255, 255, 1);
    font-weight: 700;
  }

  transition: 0.2s all;

  &:focus-visible {
    outline: 1px solid #fff;
    outline-offset: -2px;
  }

  &--top {
    width: 150px;
    height: 30px;
  }

  &--promo {
    width: 303px;
    height: 50px;

    font-size: 16px;
    margin-bottom: 8px;
  }

  &--feedform {
    width: 303px;
    height: 58px;
    font-size: 16px;
  }

  &--buy {
    width: 135px;
    height: 44px;
    font-size: 14px;

    &:hover {
      letter-spacing: 0.1rem;
      box-shadow: 5px 5px 8px -4px rgb(0, 0, 0, 1);
    }
  }
}

@media (max-width: 690px) {
  .button {
    &--promo {
      width: 270px;
      height: 40px;
    }
  }
}

@media (max-width: 400px) {
  .button {
    &--top {
      width: 130px;
    }

    &:hover {
      letter-spacing: normal;
      box-shadow: none;
      font-weight: 500;
    }
  }
}
