.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 303px;
  border: 2px solid #e8e8e8;
  margin: 0 10px 20px;
  transition: box-shadow 0.3s;

  &:hover {
    // outline: 1px solid #000;
    box-shadow: 0px 0px 10px #c5c5c5;
    // background: linear-gradient(70deg, #e8e8e8, #fff);
  }

  &__wrapper {
    position: relative;
    overflow-y: hidden;
    flex-grow: 1;
    min-height: 350px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 20px;
      content: "";
      width: calc(100% - 40px);
      height: 2px;
      background-color: #e8e8e8;
      z-index: 2;
    }
  }

  &__front {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    padding: 20px 20px 19px;

    background-color: #fff;

    transition: all 0.7s;

    img {
      width: 100%;
      height: 200px;
      object-fit: contain;
      object-position: center;
    }

    h4 {
      margin-top: 15px;

      font-size: 16px;
      font-weight: 700;
      color: #0d0d0d;
    }

    p {
      margin: 15px 0 10px;
      font-weight: 300;
      text-align: center;
    }

    &--fadeout {
      opacity: 0;
    }
  }

  &__back {
    position: absolute;
    // overflow-y: hidden;
    overflow-y: scroll;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;

    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    // padding: 16px 15px 19px;
    transition: all 0.7s;

    &--show {
      top: 0;
      padding: 16px 15px 19px;
      opacity: 1;
    }

    background-color: #fff;

    ul {
      margin-bottom: 10px;
    }

    li {
      position: relative;
      padding-left: 16px;
      margin-bottom: 5px;

      font-weight: 300;
      color: #555555;

      &::before {
        position: absolute;
        content: "";
        width: 5px;
        aspect-ratio: 1;
        left: 0;
        top: 5px;
        background-color: $main-color;
      }
    }
  }

  &__btn {
    margin-top: auto;
    text-transform: uppercase;
    text-decoration: underline;
    color: $main-color;

    &:hover {
      font-weight: 700;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // margin-top: auto;
    padding: 17px 18px 20px 23px;
  }

  &__old-price {
    display: block;
    color: #555555;
    font-weight: 300;
    text-decoration: line-through;
  }

  &__new-price {
    font-size: 20px;
    font-weight: 700;
  }
}

.catalog-item__btn[disabled]:hover {
  cursor: pointer;
}

@media (max-width: 990px) {
  .catalog-item {
    // margin-right: 10px;
    // margin-left: 10px;

    &:hover {
      outline: none;
    }

    &__btn {
      &:hover {
        font-weight: 400;
      }
    }
  }
}
