.feedform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 36px;
}
.feedform input {
  display: block;
  width: 300px;
  height: 54px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 21px;
  font-size: 16px;
}
.feedform input:last-of-type {
  margin-bottom: 20px;
}
.feedform input::-webkit-input-placeholder {
  color: #4b4b4b;
  font-weight: 300;
  font-size: 14px;
}
.feedform input::-moz-placeholder {
  color: #4b4b4b;
  font-weight: 300;
  font-size: 14px;
}
.feedform input:-ms-input-placeholder {
  color: #4b4b4b;
  font-weight: 300;
  font-size: 14px;
}
.feedform input::-ms-input-placeholder {
  color: #4b4b4b;
  font-weight: 300;
  font-size: 14px;
}
.feedform input::placeholder {
  color: #4b4b4b;
  font-weight: 300;
  font-size: 14px;
}
.feedform input:focus-visible {
  outline: 2px solid blue;
  outline-offset: -3px;
}

@media (max-width: 690px) {
  .feedform {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}