.advantages {
  min-height: 473px;
  padding-top: 70px;

  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 275px;
    margin-bottom: 67px;
    padding: 105px 5px 0;

    text-align: center;
    background-position: center top;
    background-size: 70px auto;
    background-repeat: no-repeat;

    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    &--1 {
      background-image: url("../icons/advantages/cup.png");
    }

    &--2 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: ceneter;

      &:hover::before {
        animation-play-state: paused;
      }

      // background-image: url("../icons/advantages/heart.png");

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 70px;
        aspect-ratio: 1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: url("../icons/advantages/heart.png") center / auto no-repeat;

        animation: heartbeat 1s ease-in-out infinite;

        // animation-name: heartbeat;
        // animation-duration: 1s;
        // animation-timing-function: ease-in-out;
        // animation-iteration-count: infinite;

        // &:hover {
        //   animation-play-state: paused;
        // }
      }
    }

    &--3 {
      background-image: url("../icons/advantages/shoe.png");
    }

    p {
      font-size: 14px;
      font-weight: 300;
    }

    a {
      color: #ff0000;
      text-decoration: underline;
    }
  }
}

@media (max-width: 870px) {
  .advantages {
    padding-top: 50px;

    &__list {
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 690px) {
  .advantages {
    // padding-top: 50px;

    h2 {
      margin-bottom: 50px;
      font-size: 26px;
    }

    &__item {
      margin-bottom: 55px;
    }
  }
}

@media (max-width: 586px) {
  .advantages {
    // padding-top: 50px;

    h2 {
      margin-bottom: 40px;
      font-size: 26px;
    }

    &__list {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
    }

    &__item {
      margin-bottom: 50px;
      padding-top: 90px;

      h3 {
        margin-bottom: 10px;
      }
    }
  }
}
