.catalog {
  padding-bottom: 59px;

  .container {
    padding: 0;
    // transition: all 2s;
  }

  &__tabs {
    display: flex;
    // align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: 46px auto 0;
  }

  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 222px;
    height: 52px;
    margin: 0 5px 20px;
    text-align: center;

    color: #6b6b6b;

    border: 2px solid #d0d0d0;
    transform: skew(-35deg);

    transition: all 0.5s;

    cursor: pointer;

    &:hover {
      box-shadow: 3px 3px 20px $main-color;
      border: none;
    }

    &:focus-visible {
      outline: 1px solid $main-color;
      outline-offset: 2px;
    }

    &--active {
      color: #fff;
      background-color: $main-color;
      border: none;
    }

    span {
      display: block;
      font-size: 18px;
      text-transform: uppercase;

      transform: skew(35deg);
    }
  }

  &__content {
    display: flex;
    opacity: 1;

    justify-content: center;
    flex-wrap: wrap;
    margin-top: 37px;

    transition: all 0.2s;
  }

  .visually-hidden {
    @include visually-hidden;
  }
}

@media (max-width: 990px) {
  .catalog {
    &__content {
      justify-content: space-evenly;
    }

    &__tab {
      &:hover {
        box-shadow: none;
        border: 2px solid #d0d0d0;
      }

      &--active {
        &:hover {
          border: none;
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .catalog {
    &__tab {
      span {
        font-size: 16px;
      }
    }
  }
}
