.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;

  &--left {
    color: #fff;
    font-size: 36px;
    text-align: left;
  }
}

@media (max-width: 890px) {
  .title--left {
    font-size: 32px;
  }
}

@media (max-width: 690px) {
  .title--left {
    font-size: 28px;
    padding-left: calc((100% - $input-width) / 2);
  }
}

@media (max-width: 660px) {
  .title--left {
    font-size: 26px;
  }
}
