@import "lib/custom-reset";
@import "lib/fonts";
@import "lib/slick";

@import "blocks/mixins";
@import "blocks/variables";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/buttons";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/titles";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/catalog-item";
@import "blocks/responses";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";
@import "blocks/animation";

// body {
//   overflow: auto;
// }
* {
  font-family: "Museo Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  //   color: red;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 970px;
  min-width: 302px;
  padding: 0 10px;
  margin: 0 auto;
  // background-color: aqua;
}

:focus-visible {
  outline: 1px solid blue;
  outline-offset: 2px;
  border-radius: 3px;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  /* opacity: 0; */
}

.fadeable {
  opacity: 1;
  transition: opacity 0.3s;
}

.fade {
  opacity: 0 !important;
}
