@import "mixins";
@import "variables";
@import "advantages";
@import "consultation";
@import "buttons";
@import "header";
@import "promo";
@import "titles";
@import "forms";
@import "carousel";
@import "catalog";
@import "catalog-item";
@import "responses";

* {
  font-family: "Museo Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  //   color: red;
}

.container {
  max-width: 970px;
  min-width: 302px;
  padding: 0 10px;
  margin: 0 auto;
}

:focus-visible {
  outline: 1px solid blue;
  outline-offset: 2px;
  border-radius: 3px;
}
