@import "mixins";
@import "variables";
@import "advantages";
@import "consultation";
@import "buttons";
@import "header";
@import "promo";
@import "titles";
@import "forms";
@import "carousel";

* {
  font-family: "Museo Sans", sans-serif;
}

.container {
  max-width: 970px;
  min-width: 302px;
  padding: 0 10px;
  margin: 0 auto;
}
